body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.text-container {
  position: absolute;
  top: 43%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
  color: black; 
  font-size: 50px; 
  text-align: center;
}
.input-container{
    position: relative;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    background-color:transparent;
    justify-content: center;
    text-align: center;
}