body {
  margin: 0;
  padding-top: 60px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-color: rgb(153, 153, 255);
  font-size: 25px;
  font-family: Arial, 'Times New Roman', Times, serif;
}
 
.image-container {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.text-container {
  position: absolute;
  top: 43%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
  color: black; 
  font-size: 75px; 
  text-align: center;
}
.input-container{
    position: relative;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    background-color:transparent;
    justify-content: center;
    text-align: center;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: #177597;
  margin-top: 30px;
}


.content {
  text-align: left;
}

.image {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}

p {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  background-color: rgb(167, 167, 255);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav .nav li {
  margin: 0 15px;
}

nav .nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
}

nav .nav a:hover {
  background-color: rgb(114, 114, 210);
  border-radius: 5px;
}

